manifest {
  description = 'Proof of concept of a RNA-seq pipeline implemented with Nextflow' 
  author = 'Paolo Di Tommaso'
}

/*  
 * default container 
 */


/* 
 * defines execution profiles for different environments  
 */ 

profiles {

  slurm {
    process.executor = 'slurm'
    singularity.enabled = true
  }
  
  batch {
    workDir = 's3://cbcrg-eu/work'
    process.executor = 'awsbatch'
    process.queue = 'demo'
    executor.awscli = '/home/ec2-user/miniconda/bin/aws'
    aws.region = 'eu-west-1'    
  }
  
  gcp {
      workDir = 'gs://nf-demo/work'
      params.transcriptome = 'gs://nf-demo/rnaseq/data/ggal/ggal_1_48850000_49020000.Ggal71.500bpflank.fa'
      params.reads = 'gs://nf-demo/rnaseq/data/ggal/*_{1,2}.fq'
      params.multiqc = 'gs://nf-demo/rnaseq/multiqc'
      docker.enabled = true
  }  

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}
